@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*==============  Import Styles  ==============*/
@import url(../../../components/styles/imports/default-styles.css);
@import url(../../../components/styles/imports/aside-style.css);
@import url(../../../components/styles/imports/mainHeader.css);
@import url(../../../components/styles/imports/scroll-styles.css);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  background: var(--rs-gray-50);
  color: var(--rs-gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==============  Main Styles  ==============*/
main {
  height: 100vh;
  width: calc(100vw - var(--width-aside));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-sm);
  margin-left: var(--width-aside);
}

main section {
  height: calc(100vh - var(--header-height));
  width: 100%;
  padding: var(--padding-sm);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main section article {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--padding-sm);
}

main section article:nth-child(1) div {
  height: 120px;
  width: 230px;
  background-color: var(--rs-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 12px;
  border-radius: 12px;
  padding: var(--padding-sm);
  box-shadow: 3px 3px 6px var(--rs-gray-300),
    -4px -4px 5px #ffffff;
}

main section article:nth-child(1) div:nth-child(1) {
  background-color: var(--rs-cyan-900);
  color: var(--rs-gray-50);
}

main section .table-container {
  height: 60vh;
  width: 100%;
  background: var(--rs-gray-50);
  border-radius: 12px;
  padding: var(--padding-sm);
  margin-top: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.12),
    -4px -4px 5px rgba(255, 255, 255, 1);
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  display: grid;
  grid-template-columns: 35% 25% 15% 15% 10%;

  &:hover {
    background-color: var(--rs-gray-150);
  }
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* Adiciona borda na parte inferior de todas as células */
}

th {
  background-color: var(--rs-gray-50);
}

table tbody tr td[data-label="Ação"] {
  position: relative;
  max-width: 100%;
  /* Ajuste conforme necessário */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table tbody tr td[data-label="Ação"]:hover::before {
  content: attr(data-fulltext);
  position: absolute;
  top: 100%;
  /* Posiciona o tooltip abaixo da célula */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  /* Ajuste conforme necessário */
  display: block;
  background: var(--rs-gray-300);
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
  z-index: 1;
  word-break: break-word;
}

.btn {
  background-color: transparent;
  position: relative;
  border: none;
}

.btn::after {
  content: 'Deletar';
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: var(--rs-red-700);
  padding: 4px 8px;
  border-radius: 5px;
  transition: 50ms linear;
  transition-delay: .2s;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0;
  visibility: hidden;
}

.icon {
  transform: scale(1);
  transition: 50ms linear;
}

.btn:hover>.icon {
  transform: scale(1.1);
}

.btn:hover>.icon path {
  fill: var(--rs-red-700);
}

.btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}

@media screen and (max-width: 1260px) {
  main section article:nth-child(1) div {
    height: 90px;
    width: 180px;
  }
}

@media screen and (max-width: 1060px) {
  main section article:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }

  main section article:nth-child(1) div {
    height: 90px;
    width: 90%;
  }
}

@media screen and (min-width: 1001px) {
  aside, main {
    display: block;
  }

  .alert-container {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  aside, main {
    display: none;
  }

  .alert-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: var(--padding-lg);
  }
}

@media screen and (max-width: 600px) {
  .alert-container h1 {
    font-size: 16px;
  }

  .alert-container p {
    font-size: 12px;
  }
}